ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: rgb(201, 176, 108);
  box-shadow: 4px 2px 5px gray;
  color: rgb(10, 9, 2);
  padding: 1.5rem 2rem;
  text-decoration-line: overline underline;
}

.navBar button {
  background: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: gainsboro;
  color: rgb(201, 176, 108);
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

.style{
  color: steelblue;
  
}