.active{
    background-color: transparent;
    color: white;
}

.inactive{
    background-color: transparent;
    display: contents;
}

.button-style{
    color: rgb(247, 192, 14);
    text-align: center;
    margin: 4px 2px;
    display: grid;
    padding: 10px 25px;
}