.active{
    background-color: rgb(62, 137, 250);
    color: white;
}

.inactive{
    background-color: rgb(240, 237, 231);
}

.button-style{
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 4px 2px;
    display: inline;
    padding: 10px 25px;
}